/* For Desktop View */
@media screen and (min-width: 1024px) {
    .lists_teachers .card_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .lists_teachers .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }


}

@media screen and (min-width: 768px) {}


/* For Max Width View 992px */
@media screen and (max-width: 991px) {
    .sidebar {
        left: -270px;
    }

    .sidebar.close {
        left: -270px;
    }

    .home {
        left: 0 !important;
        width: 100% !important;
    }

    /* 13/02/2023 commented*/
    /* .sidenav-toggled .home {  
        left: 160px !important;
    } */

    .responsive-navbar .nav-link.icon {
        padding: 10px !important;
        /* margin: 0px; */
        border-radius: 50px;
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.2rem;
        display: flex;
    }

    .responsive-navbar .collapse.show .dropdown-menu.show {
        left: 5% !important;
        right: 5% !important;
    }

    .header-right-icons .nav-link.icon {
        border: 1px solid #eaedf1;
    }

    .responsive-navbar .dropdown {
        position: initial;
    }

    .navresponsive-toggler {
        padding: 2px;
    }

    .navresponsive-toggler span {
        margin-top: 2px;
        padding: 9px;
        text-align: center;
        height: 2.5rem;
        font-size: 1.2rem;
        position: relative;
        background: var(--sidebar-color);
        color: var(--text-color2) !important;
        border-radius: 50%;
        box-shadow: 0px 2px 3px rgb(4 4 7 / 10%);
        width: 2.5rem;
    }

    .responsive-navbar .navbar-collapse {
        padding: 5px;
        position: fixed;
        width: 100%;
        background: var(--collapse-icon);
        margin-top: 72px;
        z-index: 50;
        box-shadow: 0 12px 11px -3px rgb(104 113 123 / 10%);
        left: 0;
        right: 0;
        top: 0;
    }

    /* .home .app-sidebar__overlay {
        visibility: hidden;
    } */
    /* .home .sidenav-toggled .app-sidebar__overlay {
        visibility: visible;
    } */
    .sidenav-toggled .sidebar {
        left: 0;
    }

    /* .app-sidebar__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 9;
    } */
    /* Navbar fixed top 13/02/2023  */
    .fixed-top {
        left: 0 !important;
    }

    /* .sidenav-toggled .fixed-top {
        left: 0;
    } */

    .fixed-top .navbar_container {
        height: -webkit-fill-available;
    }

    /* Navbar fixed top END  */

}

/* For min Width View 992px */
@media screen and (min-width: 992px) {
    .responsive-navbar .navbar-collapse {
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        background: transparent;
    }

    .dropdown-menu-arrow:before {
        content: "";
        width: 13px;
        height: 13px;
        background: var(--primary-color-light);
        position: absolute;
        top: -7px;
        right: 28px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }

    .header .notifications .dropdown-menu {
        min-width: 16rem;
    }

    .header .dropdown.notifications .dropdown-item,
    .header .dropdown.message .dropdown-item {
        padding: 1rem !important;
    }

    .header .dropdown-menu {
        box-shadow: 0 10px 40px 0 rgba(104, 113, 123, 0.3);
        border: 1px solid #eaedf1;
        top: 3.5rem !important;
    }

    .header .dropdown-menu .badge {
        padding: 9px 6px !important;
    }

    .header .dropdown-menu .dropdown-item {
        border-bottom: 1px solid #eaedf1;
    }

    .header .dropdown-menu .dropdown-item:last-child {
        border-bottom: 0;
    }

    .header .dropdown-item {
        color: #0d0c22;
    }

    .header .notifications-menu h5,
    .header .message-menu h5 {
        font-size: 13.5px;
        color: #0d0c22;
        font-weight: 500;
    }

    .header .notifications-menu span,
    .header .message-menu span {
        font-size: 12px;
        color: #76839a;
    }

    .header .dropdown-menu {
        box-shadow: 0 10px 40px 0 rgba(104, 113, 123, 0.3);
        border: 1px solid #eaedf1;
    }

    .header .dropdown-menu .badge {
        padding: 3px 6px;
    }

    .header .dropdown-menu .dropdown-item {
        border-bottom: 1px solid #eaedf1;
    }

    .header .dropdown-menu .dropdown-item:last-child {
        border-bottom: 0;
    }

    .header .message-menu .wd-90p {
        width: 90%;
    }

    .header .profile-1 .dropdown-item {
        padding: 0.75rem 1.75rem !important;
    }

    .header .profile-1 .dropdown-item .dropdown-icon {
        font-size: 16px;
        color: #0d0c22;
    }

    .responsive-navbar .notifications-menu h5,
    .responsive-navbar .message-menu h5 {
        font-size: 13.5px;
        font-weight: 500;
    }

    .responsive-navbar .notifications-menu span,
    .responsive-navbar .message-menu span {
        font-size: 12px;
        color: #76839a;
    }

    .responsive-navbar .dropdown-menu {
        border: 1px solid #eaedf1;
    }

    .responsive-navbar .dropdown-menu .dropdown-item {
        border-bottom: 1px solid #eaedf1;
    }

    .responsive-navbar .dropdown-menu .dropdown-item:last-child {
        border-bottom: 0;
    }

    .responsive-navbar .message-menu .wd-90p {
        width: 90%;
    }

    .responsive-navbar .profile-1 .dropdown-item {
        padding: 0.75rem 1.75rem !important;
    }

    .responsive-navbar .profile-1 .dropdown-item .dropdown-icon {
        font-size: 16px;
        color: #0d0c22;
    }

    .header-1 .header-brand-img.logo,
    .header-2 .header-brand-img.logo,
    .header-1.header-style .header-brand-img.logo {
        display: none;
    }

    .header.header-1.header-style .dropdown-menu {
        top: inherit !important;
    }

    .dropdown .avatar.profile-user {
        width: 2.4rem;
        height: 2.4rem;
        line-height: 2.2rem;
    }

    .responsive-logo .mobile-logo.dark-logo-1 {
        display: none;
    }

    .navbar-collapse .d-flex.order-lg-2 {
        align-items: center;
    }

    .header-1 .header-right-icons .nav-link.icon {
        border: 0;
        background: transparent;
        box-shadow: none;
    }

    .app-header .main-header-center .btn,
    .hor-header .main-header-center .btn {
        top: -2px;
    }

    /* Navbar fixed top 13/02/2023  */
    .fixed-top {
        left: 220px;
    }

    .fixed-top .navbar_container {
        height: -webkit-fill-available;
    }

    /* Navbar fixed top END  */

}

@media screen and (max-width: 575px) {
    .author_profile_pic {
        text-align: center;
    }

    .author_profile_pic img {
        width: 240px !important;
    }

    .lists_teachers,
    .lists_teachers .text_main {
        text-align: center;
    }

    .lists_teachers .text_main .d-flex {
        justify-content: center;
    }

    .lists_teachers .btn_edit a {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .lists_teachers .deactivating_btn {
        justify-content: space-between;
    }

    .lists_teachers .deactivating_btn .btn_deact~button {
        width: 100%;
    }

    /* 15/02/2023 */
    .mycourse .enrolled_course .items_list .btn_main {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
    .fs-12 {
        font-size: 9px !important;
    }
    .lists_teachers .nav-tabs .nav-link { /* 20/02/2023 */
        font-size: 10px;
    }

}

/* For Mobile View */
@media screen and (min-device-width: 500px) and (max-device-width: 768px) {
    .lists_teachers .card_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For smaall Mobile View */
@media screen and (min-device-width: 300px) and (max-device-width: 500px) {
    .lists_teachers .card_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* For smaall Mobile View */
@media screen and (max-width: 500px) {
    .lists_teachers .card_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    /* 13/02/2023  */
    .navbar_container .title_header .main_title {
        font-size: 15px;
    }

    .title_header .main_title .mdi-keyboard-backspace {
        font-size: 30px !important;
    }
}


/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {}